body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background: url(liveweb.bg.jpg);
}
header {
    background-color: #e6a10d;
    color: white;
    padding: 20px;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    transition: all 400ms ease;
}
nav ul li a:hover{
    color: rgb(72, 72, 248);
}
#btn{
    background: rgb(55, 55, 231);
    color: white;
    border: none;
    padding-top: 2px;
    border-radius: 5px;
    transition: all 400ms ease;
}

#btn:hover{
    background: none;
    border: 1px solid rgb(55, 55, 231);
    color: blue;
}


section {
    padding: 20px;
    background:#e6a10d;
    opacity: 80%;
    margin: 20px;
    border: 1px solid blue;
    border-radius: 5px;
    margin-left: 15%;
    margin-right: 15%;
    
}
ul {
    list-style: none;
    padding: 0;
}
#scores {
    font-size: 20px;
    font-weight: bold;
    color: red;
}
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}